body {
    //background-color: #F8FFEF;
}

.note {
	background-color: #ffffb3;
	border-color: #d6d65c;
}

button.tag-btn, button.tag-mod-btn, button.tag-btn-show {
	margin: 4px;
}

.tag-badge {
	margin-right: 6px;
	cursor: pointer;
}

.tag-badge-show {
	margin-right: 6px;
}

.date {
	font-style: italic;
}

.custom-footer {
	background-color: #f8f9fa;
	margin-top: 20px;
	padding: 30px 0px 30px 0px;
	//padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 4px;
  }
}
