<div class="custom-footer">
  <div class="container-fluid">
    <div class="row no-pad">
      <div class="col-md-3">
      </div>
      <div class="col-md-2">
        <h5>Info</h5>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Navigation</h5>
        <ul>
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Social Media</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
