<div class="custom-footer">
  <div class="container-fluid" style="margin-top: 30px;">
    <div class="row no-pad">
      <div class="col-md-3">
      </div>
      <div class="col-md-2">
        <h4>Info</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Navigation</h4>
        <ul>
          <li><%= link_to "Notes", notes_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Social Media</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
